<form method="post" action="/questions/<%= @question.id %>">
  <input type="hidden" name="_method" value="put">
  <label for="question[content]">Content: </label>
  <br>
  <textarea name="question[content]" rows="10" cols="20"><%= @question.content %></textarea>
  <br>
  <button type="submit" class="btn-wide">Update Question</button>
</form>
