<form method="post" action="/questions">
  <p><label for="question[content]">Content: </label></p>
  <p><textarea name="question[content]" rows="10" cols="75"></textarea></p>
  <p><button type="submit" class="btn-wide">Create Question</button></p>
</form>
