<li><%= comment.content %></li>
<li><%= comment.author.username %></li>
<% if comment.author.id == session[:user_id] %>
  <button data-url="/questions/<%= comment.question_id %>/comment/<%= comment.id %>/edit" id="edit_comment_button" class="btn btn-info">Edit Comment</button>
<% end %>
