<h3>Signup</h3>

<form class="form-signin" action='/users' method='post'>

  <div class="control-group">
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <input class="placeholder" class="span3" type="text" id="inputIcon" name="user[username]" placeholder="Username"/>
        <div></div>
        <span class="add-on"><i class="icon-envelope"></i></span>
        <input class="placeholder" class="span3" id="inputIcon" type="text" name="user[email]" placeholder="Email address">
        <div></div>
        <span class="add-on"><i class="icon-lock"></i></span>
        <input class="placeholder" class="span3" type="password" id="inputIcon" name="user[password]" placeholder="Password"/>
      </div>
      <div></div>
      <input class="btn btn-primary" type='submit' value='signup'>
    </div>
  </div>
</form>

<% if @errors %>
  <% @errors.each do |error| %>
  <p class="error"><%= error %></p>
  <% end %>
<% end %>
