<form id="new_answer_form" action="/questions/<%= question.id %>/answers" method="post" data-new="new_answer_form">
  <textarea name="answer" placeholder="add your answer here" cols="50" rows="3"></textarea>
  <input type="submit" name="post" value="Submit answer">
</form>
