<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <% if session[:user_id] %>
      <h4>Logged in as <%= User.find(session[:user_id]).username %></h4>
      <a href="/">home</a>
      <a href="/users/<%=session[:user_id] %>">profile</a>
      <a href="/logout"></a>
    <% else %>
      <a href="/">home</a>
      <a href="/login">login</a>
    <% end %>
  </nav>
  <%= yield %>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
