<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/answers.js"></script>

  <title></title>
</head>
<body>
  <nav class="nav nav-tabs">
    <% if session[:user_id] %>
      <li><a href="/"><i class="icon-home"></i>Home</a></li>
      <li><a href="/users/<%= session[:user_id] %>"><i class="icon-user"></i> Profile</a></li>
      <li><a href="/logout"><i class="icon-road"></i>Logout</a></li>
    <% else %>
      <li><a href="/"><i class="icon-home"></i>Home</a></li>
      <li><a href="/login"><i class="icon-road"></i>Login</a></li>
      <li><a href="/users/new"><i class="icon-plus"></i>Signup</a></li>
    <% end %>
  </nav>

  <% if session[:user_id] %>
    <p id="login-indicator">Logged in as <%= User.find(session[:user_id]).username %></p>
  <% end %>

  <%= yield %>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
