<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/answers.js"></script>

  <title></title>
</head>
<body>
  <nav class="nav nav-tabs">
    <% if session[:user_id] %>
      <h4>Logged in as <%= User.find(session[:user_id]).username %></h4>



      <li><a href="/users/<%=session[:user_id] %>">Profile</a></li>
      <li><a href="/logout"></a>Logout</li>
      <li><a href="/"> <i class="icon-home"></i> Home</a></li>



      <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>

    <% else %>





      <a href="/">home</a>
      <a href="/login">login</a>
    <% end %>
  </nav>
  <%= yield %>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
